---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { title } from 'process';

//prismjs + 
import Prism from 'prismjs';

//three-js 
import * as THREE from 'three';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

//react-dom
import * as React from "react";

//shacdn-ui
import { Button } from "@/components/ui/button"
import { buttonVariants } from "@/components/ui/button"
import { BreadcrumbDemo } from '@/components/react/sector-a.tsx'
import { Accordion } from '@/components/react/sector-b.tsx'
import { ReloadIcon } from "@radix-ui/react-icons"

//fullpage.js-content
import Section1 from '@/components/astro/fp-content-1.astro';
import Section2 from '@/components/astro/fp-content-2.astro';
import Section3 from '@/components/astro/fp-content-3.astro';
import Section4 from '@/components/astro/fp-content-4.astro';

//darkmode toggle
import ThemeToggle from '@/components/ThemeToggle.astro'

//footer
import Footer from '@/components/Footer.astro'

---
<BaseLayout title="Seaborn" description=":3">
  <div class="section" data-tooltip="Section 1">
    <Section1 />
  </div>
  <div class="section" data-tooltip="Section 2">
    <Section2 />
  </div>
  <div class="section" data-tooltip="Section 3">
    <Section3 />
  </div>
  <div class="section" data-tooltip="Section 4">
    <Section4 />
  </div>
  <div class="section fp-auto-height">
    <Footer client:load />
  </div>
  <script>

import * as THREE from 'three';

const scene = new THREE.Scene();
const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

const renderer = new THREE.WebGLRenderer();
renderer.setSize( window.innerWidth, window.innerHeight );
document.body.appendChild( renderer.domElement );
  </script>
</BaseLayout>
