---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { title } from 'process';

//prismjs + 
import Prism from 'prismjs';

//react-three-fiber
import { Suspense } from 'react'
import { Canvas } from '@react-three/fiber/native'
import { useGLTF } from '@react-three/drei/native'
import modelPath from './path/to/model.glb'
import { OrbitControls } from '@react-three/drei/native'

//react-dom
import * as React from "react";

//shacdn-ui
import { Button } from "@/components/ui/button"
import { buttonVariants } from "@/components/ui/button"
import { BreadcrumbDemo } from '@/components/react/sector-a.tsx'
import { Accordion } from '@/components/react/sector-b.tsx'
import { ReloadIcon } from "@radix-ui/react-icons"

//fullpage.js-content
import Section1 from '@/components/react/fp-content-1.tsx';
import Section2 from '@/components/react/fp-content-2.tsx';
import Section3 from '@/components/react/fp-content-3.tsx';
import Section4 from '@/components/react/fp-content-4.tsx';

//darkmode toggle
import ThemeToggle from '@/components/ThemeToggle.astro'

//footer
import Footer from '@/components/Footer.astro'

---
<BaseLayout title="Seaborn" description=":3">
  <ThemeToggle />
  <div class="section" data-tooltip="Section 1">
    <Section1 client:load />
  </div>
  <div class="section" data-tooltip="Section 2">
    <Section2 client:load />
  </div>
  <div class="section" data-tooltip="Section 3">
    <Section3 client:load />
  </div>
  <div class="section" data-tooltip="Section 4">
    <Section4 client:load />
  </div>
  <div class="section fp-auto-height">
    <Footer />
  </div>
</BaseLayout>
