---
import { Moon, Sun } from 'lucide-react'
import { Button } from '@/components/ui/button'
---

<Button variant="ghost" size="icon" id="themeToggle">
  <Sun className="h-[1.5rem] w-[1.3rem] dark:hidden" />
  <Moon className="hidden h-5 w-5 dark:block" />
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline>
  // Function to apply the theme based on local storage or system preference
  function applyTheme(document) {
    const storedTheme = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = storedTheme ? storedTheme : (prefersDark ? 'dark' : 'light');

    document.documentElement.classList.toggle('dark', theme === 'dark');
    document.documentElement.dataset.theme = theme;  // For Astro compatibility
    localStorage.setItem('theme', theme);  // Save the theme
  }

  // Set initial theme on page load
  applyTheme(document);

  // Handle theme toggle click
  const handleToggleClick = () => {
    const isDarkMode = document.documentElement.classList.contains('dark');
    const newTheme = isDarkMode ? 'light' : 'dark';

    localStorage.setItem('theme', newTheme);
    applyTheme(document);
  }

  // Add event listener to the theme toggle button
  document.getElementById('themeToggle').addEventListener('click', handleToggleClick);

  // Ensure the theme is applied to new documents in Astro's page transition
  document.addEventListener('astro:before-swap', ev => {
    applyTheme(ev.newDocument);
  });
</script>

